# Socket.io Real-Time Backend Server URL
# Local development:
# NEXT_PUBLIC_SOCKET_URL=http://localhost:4000

# Production (Live on Render):
NEXT_PUBLIC_SOCKET_URL=https://candidate-assignment-backend-nanthapat.onrender.com
